In [2]:
import time
import random
import tweepy
import pandas as pd

In [3]:
client = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAAIEYAEAAAAAd%2BjH%2FJwZ5V%2BCEsJzVXZ83029Ibs%3DXlvIyu30iQJzxikp6AbikMliagtSS3MJHp0ywmdtNPKLP9Cu7P', 
                       consumer_key='DdRyFEKfg4Ql7YIXDIY0x681y', 
                       consumer_secret='JpoNeGjFh5S7XtYoMhIqACtyHLpDSqYJXfHd1F47LhKNrW1WoG', 
                       access_token='1467321676069150721-jtC2MshkyOGBuSF1gxEGSrgdQWfuuS', 
                       access_token_secret='Gdyl1SYutFiZQ325ZlYN2xpean5VfB2y7c3l3TQYq71fB', 
                       wait_on_rate_limit=True)

In [4]:
def gettweettext(tweet_id_lists):
    #This function should take a list of tweet ids, get the text from Twitter
    # and save the resulting text as a tuple of tweet id, tweet text.
    output_list = []
    for i in tweet_id_lists:
        tweet = client.get_tweet(i)
        tweet_id = i
        tweet_tuple = (tweet_id, str(tweet.data)) 
        output_list.append(tweet_tuple)
    return output_list

In [5]:
gettweettext([789250597526446080])

[(789250597526446080,
  'Maestra de yoga acusa a Donald Trump de tocarla de manera inapropiada https://t.co/xyZDKttc6I https://t.co/SPT6GiIWoc')]

In [6]:
# Getting the tweets for 2016related tweets
election2016df = pd.read_csv('Data/election-filter6.txt')
election2016df

                   tweet_id
0        789250598268837889
1        789250597526446080
2        789250598239670273
3        789250597266546688
4        789250597841084417
...                     ...
1376584  789425344386207744
1376585  789425345174773760
1376586  789425345661399044
1376587  789425345443291136
1376588  789425345199951872

[1376589 rows x 1 columns]

In [7]:
test = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAAIEYAEAAAAAd%2BjH%2FJwZ5V%2BCEsJzVXZ83029Ibs%3DXlvIyu30iQJzxikp6AbikMliagtSS3MJHp0ywmdtNPKLP9Cu7P', 
                       consumer_key='DdRyFEKfg4Ql7YIXDIY0x681y', 
                       consumer_secret='JpoNeGjFh5S7XtYoMhIqACtyHLpDSqYJXfHd1F47LhKNrW1WoG', 
                       access_token='1467321676069150721-jtC2MshkyOGBuSF1gxEGSrgdQWfuuS', 
                       access_token_secret='Gdyl1SYutFiZQ325ZlYN2xpean5VfB2y7c3l3TQYq71fB', 
                       wait_on_rate_limit=False)

In [8]:
def gettweettest(list):
    output_list = []
    for i in list:
            tweet = test.get_tweet(i)
            tweet_id = i
            tweet_tuple = (tweet_id, str(tweet.data)) 
            test_list.append(tweet_tuple)
    return 'Done'

In [9]:
dummydf = pd.DataFrame()
dummydf

Empty DataFrame
Columns: []
Index: []

In [10]:
# Note! Make sure to load your saved DF before running this function!

def tweetrehydrate2016(source_df, save_df):
    alreadygotitlist = save_df.tweet_id.tolist()
    working_df = source_df[~source_df.tweet_id.isin(alreadygotitlist)] 
    sample = working_df.tweet_id.sample(n = 300, replace = False, random_state= 14)
    id_list = sample.to_list()
    hydro_df = save_df
    tweet_tuple_list=[]
    for i in id_list:
        tweet = test.get_tweet(i)
        tid = i
        tweet_tuple_list.append(({'tweet_id': tid,'tweet_text': str(tweet.data)}))  
    hydro_df = hydro_df.append(tweet_tuple_list, ignore_index=True)
    hydro_df.to_csv('tweets_2016')

In [20]:
hydrated_2016df = pd.read_csv('tweets_2016')

l = ['tweet_id', 'tweet_text']

hydrated_2016df = hydrated_2016df[l]

hydrated_2016df.drop_duplicates(subset='tweet_id', keep='first', inplace=True)

tweetrehydrate2016(election2016df, hydrated_2016df)

In [21]:
hydrated_2016df = pd.read_csv('tweets_2016')

l = ['tweet_id', 'tweet_text']

hydrated_2016df = hydrated_2016df[l]

hydrated_2016df.drop_duplicates(subset='tweet_id', keep='first', inplace=True)

In [22]:
hydrated_2016df

           tweet_id                                         tweet_text
0      7.892854e+17  RT @ReaganBattalion: Obama hates @marcorubio b...
1      7.894080e+17                                               None
2      7.893299e+17  RT @lopezdoriga: EN DIRECTO en #Periscope: La ...
3      7.893246e+17  RT @wikileaks: There is no US election. There ...
4      7.893512e+17                                               None
...             ...                                                ...
54025  7.893406e+17                                               None
54026  7.894050e+17  WikiLeaks Claims They Have Uncomfortable Surpr...
54027  7.892961e+17                                               None
54028  7.892724e+17  RT @MarkSimoneNY: Just 5.7 Percent Of Clinton ...
54029  7.893100e+17  @davidsirota @CNN the numbers are wrong. Trump...

[54026 rows x 2 columns]

In [23]:
def run_function_15_mins_election2016(hours):
    i = hours*4
    while i > 0:
        time.sleep(60*15.15)
        print("Timer up, begin hydrating")
        hydrated_2016df = pd.read_csv('tweets_2016')
        l = ['tweet_id', 'tweet_text']
        hydrated_2016df = hydrated_2016df[l]
        tweetrehydrate2016(election2016df, hydrated_2016df)
        print("I think I have looped" )
        hydrated_2016df = pd.read_csv('tweets_2016')
        l = ['tweet_id', 'tweet_text']
        hydrated_2016df = hydrated_2016df[l]
        print(hydrated_2016df.info())
        i -= 1
        print(i)
    print('Done.')
    return "Done!"

In [24]:
run_function_15_mins_election2016(16)

hydrated_2016df = pd.read_csv('tweets_2016')

l = ['tweet_id', 'tweet_text']

hydrated_2016df = hydrated_2016df[l]

hydrated_2016df.drop_duplicates(subset='tweet_id', keep='first', inplace=True)

Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54330 entries, 0 to 54329
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    54330 non-null  float64
 1   tweet_text  54330 non-null  object
dtypes: float64(1), object(1)
memory usage: 849.0+ KB
None
63
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54630 entries, 0 to 54629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    54630 non-null  float64
 1   tweet_text  54630 non-null  object
dtypes: float64(1), object(1)
memory usage: 853.7+ KB
None
62
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54930 entries, 0 to 54929
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    54930 non-null  float64
 1   tweet_text  54930 non-null  object
dtypes: float64(1), object(1)
memory usage: 858.4+ KB
None
61
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55230 entries, 0 to 55229
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    55230 non-null  float64
 1   tweet_text  55230 non-null  object
dtypes: float64(1), object(1)
memory usage: 863.1+ KB
None
60
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55530 entries, 0 to 55529
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    55530 non-null  float64
 1   tweet_text  55530 non-null  object
dtypes: float64(1), object(1)
memory usage: 867.8+ KB
None
59
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55830 entries, 0 to 55829
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    55830 non-null  float64
 1   tweet_text  55830 non-null  object
dtypes: float64(1), object(1)
memory usage: 872.5+ KB
None
58
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56130 entries, 0 to 56129
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    56130 non-null  float64
 1   tweet_text  56130 non-null  object
dtypes: float64(1), object(1)
memory usage: 877.2+ KB
None
57
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56430 entries, 0 to 56429
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    56430 non-null  float64
 1   tweet_text  56430 non-null  object
dtypes: float64(1), object(1)
memory usage: 881.8+ KB
None
56
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56730 entries, 0 to 56729
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    56730 non-null  float64
 1   tweet_text  56730 non-null  object
dtypes: float64(1), object(1)
memory usage: 886.5+ KB
None
55
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57030 entries, 0 to 57029
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    57030 non-null  float64
 1   tweet_text  57030 non-null  object
dtypes: float64(1), object(1)
memory usage: 891.2+ KB
None
54
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57330 entries, 0 to 57329
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    57330 non-null  float64
 1   tweet_text  57330 non-null  object
dtypes: float64(1), object(1)
memory usage: 895.9+ KB
None
53
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57630 entries, 0 to 57629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    57630 non-null  float64
 1   tweet_text  57630 non-null  object
dtypes: float64(1), object(1)
memory usage: 900.6+ KB
None
52
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57930 entries, 0 to 57929
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    57930 non-null  float64
 1   tweet_text  57930 non-null  object
dtypes: float64(1), object(1)
memory usage: 905.3+ KB
None
51
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58230 entries, 0 to 58229
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    58230 non-null  float64
 1   tweet_text  58230 non-null  object
dtypes: float64(1), object(1)
memory usage: 910.0+ KB
None
50
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58530 entries, 0 to 58529
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    58530 non-null  float64
 1   tweet_text  58530 non-null  object
dtypes: float64(1), object(1)
memory usage: 914.7+ KB
None
49
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58830 entries, 0 to 58829
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    58830 non-null  float64
 1   tweet_text  58830 non-null  object
dtypes: float64(1), object(1)
memory usage: 919.3+ KB
None
48
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59130 entries, 0 to 59129
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    59130 non-null  float64
 1   tweet_text  59130 non-null  object
dtypes: float64(1), object(1)
memory usage: 924.0+ KB
None
47
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59430 entries, 0 to 59429
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    59430 non-null  float64
 1   tweet_text  59430 non-null  object
dtypes: float64(1), object(1)
memory usage: 928.7+ KB
None
46
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59730 entries, 0 to 59729
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    59730 non-null  float64
 1   tweet_text  59730 non-null  object
dtypes: float64(1), object(1)
memory usage: 933.4+ KB
None
45
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60030 entries, 0 to 60029
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    60030 non-null  float64
 1   tweet_text  60030 non-null  object
dtypes: float64(1), object(1)
memory usage: 938.1+ KB
None
44
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60330 entries, 0 to 60329
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    60330 non-null  float64
 1   tweet_text  60330 non-null  object
dtypes: float64(1), object(1)
memory usage: 942.8+ KB
None
43
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60630 entries, 0 to 60629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    60630 non-null  float64
 1   tweet_text  60630 non-null  object
dtypes: float64(1), object(1)
memory usage: 947.5+ KB
None
42

Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60930 entries, 0 to 60929
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    60930 non-null  float64
 1   tweet_text  60930 non-null  object
dtypes: float64(1), object(1)
memory usage: 952.2+ KB
None
41
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61230 entries, 0 to 61229
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    61230 non-null  float64
 1   tweet_text  61230 non-null  object
dtypes: float64(1), object(1)
memory usage: 956.8+ KB
None
40
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61530 entries, 0 to 61529
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    61530 non-null  float64
 1   tweet_text  61530 non-null  object
dtypes: float64(1), object(1)
memory usage: 961.5+ KB
None
39
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61830 entries, 0 to 61829
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    61830 non-null  float64
 1   tweet_text  61830 non-null  object
dtypes: float64(1), object(1)
memory usage: 966.2+ KB
None
38
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62130 entries, 0 to 62129
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    62130 non-null  float64
 1   tweet_text  62130 non-null  object
dtypes: float64(1), object(1)
memory usage: 970.9+ KB
None
37
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62430 entries, 0 to 62429
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    62430 non-null  float64
 1   tweet_text  62430 non-null  object
dtypes: float64(1), object(1)
memory usage: 975.6+ KB
None
36
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62730 entries, 0 to 62729
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    62730 non-null  float64
 1   tweet_text  62730 non-null  object
dtypes: float64(1), object(1)
memory usage: 980.3+ KB
None
35
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63030 entries, 0 to 63029
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    63030 non-null  float64
 1   tweet_text  63030 non-null  object
dtypes: float64(1), object(1)
memory usage: 985.0+ KB
None
34
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63330 entries, 0 to 63329
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    63330 non-null  float64
 1   tweet_text  63330 non-null  object
dtypes: float64(1), object(1)
memory usage: 989.7+ KB
None
33
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63630 entries, 0 to 63629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    63630 non-null  float64
 1   tweet_text  63630 non-null  object
dtypes: float64(1), object(1)
memory usage: 994.3+ KB
None
32
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63930 entries, 0 to 63929
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    63930 non-null  float64
 1   tweet_text  63930 non-null  object
dtypes: float64(1), object(1)
memory usage: 999.0+ KB
None
31
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64230 entries, 0 to 64229
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    64230 non-null  float64
 1   tweet_text  64230 non-null  object
dtypes: float64(1), object(1)
memory usage: 1003.7+ KB
None
30
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64530 entries, 0 to 64529
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    64530 non-null  float64
 1   tweet_text  64530 non-null  object
dtypes: float64(1), object(1)
memory usage: 1008.4+ KB
None
29
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64830 entries, 0 to 64829
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    64830 non-null  float64
 1   tweet_text  64830 non-null  object
dtypes: float64(1), object(1)
memory usage: 1013.1+ KB
None
28
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65130 entries, 0 to 65129
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    65130 non-null  float64
 1   tweet_text  65130 non-null  object
dtypes: float64(1), object(1)
memory usage: 1017.8+ KB
None
27
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65430 entries, 0 to 65429
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    65430 non-null  float64
 1   tweet_text  65430 non-null  object
dtypes: float64(1), object(1)
memory usage: 1022.5+ KB
None
26
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65730 entries, 0 to 65729
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    65730 non-null  float64
 1   tweet_text  65730 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
25
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66030 entries, 0 to 66029
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    66030 non-null  float64
 1   tweet_text  66030 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
24
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66330 entries, 0 to 66329
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    66330 non-null  float64
 1   tweet_text  66330 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
23
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66630 entries, 0 to 66629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    66630 non-null  float64
 1   tweet_text  66630 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
22
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66930 entries, 0 to 66929
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    66930 non-null  float64
 1   tweet_text  66930 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
21
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67230 entries, 0 to 67229
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    67230 non-null  float64
 1   tweet_text  67230 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
20

Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67530 entries, 0 to 67529
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    67530 non-null  float64
 1   tweet_text  67530 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
19
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67830 entries, 0 to 67829
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    67830 non-null  float64
 1   tweet_text  67830 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
18
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68130 entries, 0 to 68129
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    68130 non-null  float64
 1   tweet_text  68130 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
17
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68430 entries, 0 to 68429
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    68430 non-null  float64
 1   tweet_text  68430 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
16
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68730 entries, 0 to 68729
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    68730 non-null  float64
 1   tweet_text  68730 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.0+ MB
None
15
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69030 entries, 0 to 69029
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    69030 non-null  float64
 1   tweet_text  69030 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
14
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69330 entries, 0 to 69329
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    69330 non-null  float64
 1   tweet_text  69330 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
13
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69630 entries, 0 to 69629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    69630 non-null  float64
 1   tweet_text  69630 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
12
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69930 entries, 0 to 69929
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    69930 non-null  float64
 1   tweet_text  69930 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
11
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70230 entries, 0 to 70229
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    70230 non-null  float64
 1   tweet_text  70230 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
10
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70530 entries, 0 to 70529
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    70530 non-null  float64
 1   tweet_text  70530 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
9
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70830 entries, 0 to 70829
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    70830 non-null  float64
 1   tweet_text  70830 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
8
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71130 entries, 0 to 71129
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    71130 non-null  float64
 1   tweet_text  71130 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
7
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71430 entries, 0 to 71429
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    71430 non-null  float64
 1   tweet_text  71430 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
6
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71730 entries, 0 to 71729
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    71730 non-null  float64
 1   tweet_text  71730 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
5
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72030 entries, 0 to 72029
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    72030 non-null  float64
 1   tweet_text  72030 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
4
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72330 entries, 0 to 72329
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    72330 non-null  float64
 1   tweet_text  72330 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
3
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72630 entries, 0 to 72629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    72630 non-null  float64
 1   tweet_text  72630 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
2
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72930 entries, 0 to 72929
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    72930 non-null  float64
 1   tweet_text  72930 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
1
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73230 entries, 0 to 73229
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    73230 non-null  float64
 1   tweet_text  73230 non-null  object
dtypes: float64(1), object(1)
memory usage: 1.1+ MB
None
0
Done.

Littman, Justin; Wrubel, Laura; Kerchner, Daniel, 2016, "2016 United States Presidential Election Tweet Ids", https://doi.org/10.7910/DVN/PDI7IN, Harvard Dataverse, V3

In [25]:
hydrated_2016df = pd.read_csv('tweets_2016')

l = ['tweet_id', 'tweet_text']

hydrated_2016df = hydrated_2016df[l]

hydrated_2016df.drop_duplicates(subset='tweet_id', keep='first', inplace=True)

In [26]:
hydrated_2016df

           tweet_id                                         tweet_text
0      7.892854e+17  RT @ReaganBattalion: Obama hates @marcorubio b...
1      7.894080e+17                                               None
2      7.893299e+17  RT @lopezdoriga: EN DIRECTO en #Periscope: La ...
3      7.893246e+17  RT @wikileaks: There is no US election. There ...
4      7.893512e+17                                               None
...             ...                                                ...
73225  7.892627e+17                                               None
73226  7.893312e+17  RT @activist360: The #AlSmithDinner was no dif...
73227  7.893593e+17                                               None
73228  7.892591e+17                                               None
73229  7.892532e+17  A look at the Trudeau Liberals a year after th...

[72959 rows x 2 columns]

In [28]:
hydrated_2016df[hydrated_2016df.tweet_text != 'None']

           tweet_id                                         tweet_text
0      7.892854e+17  RT @ReaganBattalion: Obama hates @marcorubio b...
2      7.893299e+17  RT @lopezdoriga: EN DIRECTO en #Periscope: La ...
3      7.893246e+17  RT @wikileaks: There is no US election. There ...
7      7.892696e+17  RT @AJemaineClement: The lamest part of Trump'...
14     7.893517e+17  @realDonaldTrump #AlSmithDinner #TrumpTapes #H...
...             ...                                                ...
73211  7.892677e+17  RT @LifeSite: The next â€˜deplorablesâ€™? Clinton ...
73212  7.892680e+17  Speaking is not his thing. He isn't intellectu...
73220  7.893777e+17  #Bestseller #greatreads #goodbooks  #BookBoost...
73226  7.893312e+17  RT @activist360: The #AlSmithDinner was no dif...
73229  7.892532e+17  A look at the Trudeau Liberals a year after th...

[31942 rows x 2 columns]